body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
}

.hero-sec{
    background-image: url(./img\ 1.jpg);
    /* position: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-logo{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
}

.hero-logo-img{
    font-size: 3.4em;
    color: rgb(234, 78, 78);
    /* border: 2px solid rgb(234, 78, 78); */
    border-radius: 50%;
}

.hero-logo-cnt{
    font-size: 1.6em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.hero-content{
    display: flex;
    justify-content: space-evenly;
    /* position: relative; */
}

.hero-hdg{
    font-size: 7em;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-hdg-white{
    color: white;
}

.hero-hdg-red{
    color: red;
}

.hero-btn-ctn{
    display: flex;
    justify-content: end;
    align-items: end;
}

.hero-btn{
    background-color: red;
    height:50px;
    width: 300px;
    border-radius: 30px;
    /* text-align: center; */
    padding: 5px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    gap: 30px;
}

.secound-sec{
    height: 100%;
}

.secound-content{
    font-size: 4.5em;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

.secound-ctn{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.secound-img img{
    height: 300px;
    width: 450px;
}

.secound-img-content{
    font-size: 1.4em;
}

.third-sec{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.third-left-sec{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.third-hdg{
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}

/* .third-content-sec{
    display: flex;
    flex-direction: column;
} */

.third-left-upper-sec{
    display: flex;
    justify-content: space-evenly;
}

.third-left-lower-sec{
    display: flex;
        justify-content: space-evenly;
}

.third-content h1{
    color: red;
}

.third-content span{
    font-size: 2em;
    color: red;
}

.third-content p{
    font-size: 1.3em;
}

.third-right-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-right-sec img{
    height: 550px;
    width: 300px;
}

.fourth-sec{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fourth-hdg{
    font-size: 5em;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.fourth-content{
    display: flex;
}

.fourth-main-cnt span{
    color: red;
    font-size: 2em;
    text-transform: uppercase;
}

.fourth-main-cnt p{
    color: white;
    font-size: 1.2em;
}

.fourth-content{
    display: flex;
    justify-content: space-around;
}

.fifth-sec{
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fifth-hdg{
    font-size: 5em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.fifth-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fifth-upper-sec,.fifth-lower-sec{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.fifth-sec-main span{
    color: red;
    font-size: 2em;
}

.fifth-sec-main p{
    color: white;
}

@media screen and (max-width:656px){
    .hero-logo{
        padding: 1px;
    }
    .hero-hdg {
            font-size: 4em;
        }

        .hero-content {
            flex-direction: column;
        }

    .hero-btn-ctn{
        display: flex;
        justify-content: center;
    }

    .secound-ctn{
        flex-direction: column;
        padding: 15px;
    }

    .secound-content {
        font-size: 2em;
    }

    .secound-img{
        display: flex;
        justify-content: center;
    }

    .secound-img img {
        height: 150px;
        width: 150px;
    }

    .secound-img-content {
        font-size: 1.2em;
    }

    .third-sec{
        flex-direction: column;
    }

    .third-hdg{
        font-size: 1.5em;
    }

    .third-content span{
        font-size: 1.2em;
    }

    .third-content p{
        font-size: 1.2em;
    }

    .third-right-sec img{
        height: 180px;
        width: 200px;
    }
    
    .fourth-hdg {
        font-size: 2em;
    }

        .fourth-main-cnt span {
            font-size: 1.2em;
        }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .secound-ctn {
            flex-direction: column;
            /* padding: 15px; */
        }

        .secound-img {
            display: flex;
            justify-content: center;
        }

 .third-sec {
     flex-direction: column;
 }


.third-right-sec img {
    height: 400px;
    width: 400px;
}
}